<div class="container-big-card">
    <img src="https://cdn.dribbble.com/userupload/7328840/file/original-64d7307c1332224143a36026c48c7cc0.png?compress=1&resize=752x" alt=""/>
    <p>Mês dia, 2023.</p>
    <h2>Lorem ipsum elit sagittis habitasse hendrerit, quam massa vestibulum. </h2>
    <h3>
        Lorem ipsum eleifend sed vivamus eros, class facilisis id adipiscing 
        sapien sociosqu, interdum eu ipsum auctor. elit quisque purus duis nunc 
        faucibus justo hendrerit mi nisl, ligula tortor non hendrerit placerat turpis 
        proin elementum, gravida et congue aliquam conubia blandit venenatis taciti. 
        amet luctus taciti ornare posuere nisi praesent per, amet posuere amet justo 
        ipsum imperdiet cras lobortis, morbi ligula ullamcorper malesuada libero tortor. 
        vestibulum cras feugiat justo sed justo faucibus est potenti consequat, erat hac
         ornare eros ut ligula posuere ut morbi, ullamcorper aliquam ullamcorper mattis 
         conubia fringilla posuere hac. 
    </h3>
</div>
