li{
    width: inherit;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid white;
}
img{
    width: 40%;
    height: 100%;
}
div{
    height: 100%;
    border: 1px solid white;
}