<nav>
    <img src="https://cdn.dribbble.com/users/297873/screenshots/10694373/media/dc1ee39bd96cddf2527d0817822d55f0.jpg?compress=1&resize=400x300&vertical=top"/>
    <!-- <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Linkedin</a></li>
        <li><a href="">Github</a></li>
    </ul> -->
    <select>
        <option></option>
        <option><a href="">Home</a></option>
        <option><a href="">Linkedin</a></option>
        <option><a href="">Github</a></option>
    </select>
    
</nav>
