<nav>
    <img src={{logoImage}}/>
    <div class="container-dropdown">
        <span (click)="menuRender()" class="material-symbols-outlined">menu</span>
        <ul [ngClass]="isRender">
            <li><a href="#">Home</a></li>
            <li><a href="https://www.linkedin.com/in/esau-bandeira/">Linkedin</a></li>
            <li><a href="https://github.com/HadokBjorn">Github</a></li>
        </ul>
    </div>

    <ul class="menu-web">
        <li><a href="#">Home</a></li>
        <li><a href="https://www.linkedin.com/in/esau-bandeira/">Linkedin</a></li>
        <li><a href="https://github.com/HadokBjorn">Github</a></li>
    </ul>
</nav>
