/* You can add global styles to this file, and also import other style files */
*{
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
a{
    text-decoration: none;
}
.container-small-card{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-content{
    padding-bottom: 200px;
}

@media screen and (min-width: 769px) {
.page-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.container-small-card{
    justify-content: space-between;
    margin-top: 0;
}
}